---
import Layout from "../layouts/Layout.astro";
import Gallery from "../sections/Gallery.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="Save the Date - A&G">
  <main>
    <Hero />
    <Gallery />
  </main>
</Layout>
