---
import Layout from "../layouts/Layout.astro";
import Gallery from "../sections/Gallery.astro";
import Hero from "../sections/Hero.astro";
---

<Layout
  title="Save the Date | A&G"
  description="Save the date Andrés y Gabriela 22 | 12 | 24"
  canonical="https://andresygabriela.com"
>
  <main>
    <Hero />
    <Gallery />
  </main>
</Layout>
