---
import Layout from "../layouts/Layout.astro";
import Gallery from "../sections/Gallery.astro";
import Hero from "../sections/Hero.astro";
---

<Layout
  title="Save the Date | A&G"
  description="Ninguna medida de tiempo contigo será suficiente, pero empecemos con un para siempre."
  canonical="https://andresygabriela.com"
>
  <main>
    <Hero />
    <Gallery />
  </main>
</Layout>
