---
import Modal from "./Modal.astro";
---

<div class="md:mt-20 py-16">
  <Modal />
  <div class="mx-auto px-6 max-w-[90%] text-gray-500">
    <div class="relative">
      <div class="relative grid gap-3 grid-cols-6">
        <button
          data-url="/Bento/galeria1.webp"
          class="clip-container group cursor-pointer col-span-full lg:col-span-2 overflow-hidden flex relative rounded-xl bg-white border border-gray-200 min-h-[250px]"
          data-clip-item
        >
          <img
            src="/Bento/galeria1.webp"
            class="w-full h-full object-cover object-center"
            alt=""
          />
        </button>
        <div
          class="cursor-pointer col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden relative rounded-xl bg-white border border-gray-200"
        >
          <img
            data-url="/Bento/galeria2.webp"
            src="/Bento/galeria2.webp"
            class="clip-container w-full h-full object-cover object-center"
            alt=""
          />
        </div>
        <div
          class="cursor-pointer col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden relative rounded-xl bg-white border border-gray-200"
        >
          <img
            data-url="/Bento/galeria3.webp"
            src="/Bento/galeria3.webp"
            class="clip-container w-full h-full object-cover object-center"
            alt=""
          />
        </div>

        <!-- <div
          class="cursor-pointer col-span-full lg:col-span-3 overflow-hidden relative rounded-xl bg-white border border-gray-200 md:max-h-[300px]"
        >
          <img
            data-url="/Bento/galeria4.webp"
            src="/Bento/galeria4.webp"
            class="clip-container w-full h-full object-cover object-center"
            alt=""
          />
        </div>
        <div
          class="cursor-pointer col-span-full lg:col-span-3 overflow-hidden relative rounded-xl bg-white border border-gray-200 md:max-h-[300px]"
        >
          <img
            data-url="/Bento/galeria5.webp"
            src="/Bento/galeria5.webp"
            class="clip-container w-full h-full object-cover object-center"
            alt=""
          />
        </div> -->

        <div
          class="cursor-pointer col-span-full lg:col-span-1 overflow-hidden flex relative rounded-xl bg-white border border-gray-200 min-h-[300px]"
        >
          <img
            data-url="/Bento/galeria6.webp"
            src="/Bento/galeria6.webp"
            class="clip-container w-full h-full object-cover object-center"
            alt=""
          />
        </div>
        <div
          class="cursor-pointer col-span-full sm:col-span-3 lg:col-span-3 overflow-hidden relative rounded-xl bg-white border border-gray-200"
        >
          <img
            data-url="/Bento/galeria7.webp"
            src="/Bento/galeria7.webp"
            class="clip-container w-full h-full object-cover object-center"
            alt=""
          />
        </div>
        <div
          class="cursor-pointer col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden relative rounded-xl bg-white border border-gray-200"
        >
          <img
            data-url="/Bento/galeria8.webp"
            src="/Bento/galeria8.webp"
            class="clip-container w-full h-full object-cover object-center"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
