---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Save the Date | A&G"
  description="Ninguna medida de tiempo contigo será suficiente, pero empecemos con un para siempre."
  canonical="https://andresygabriela.com"
>
  <main>
    <div class="bg-red-500 h-screen">hola</div>
    <div class="bg-emerald-500 h-screen">hola</div>
  </main>
</Layout>
<script>
  document.addEventListener("astro:page-load", () => {
    const boxer = new URLSearchParams(window.location.search).get("invitado");
    console.log(boxer);
  });
</script>
